body {
  overflow: hidden; /* Hide scrollbars */
}

.rodape {
  position: fixed;
  bottom: 10px;
  padding: 0 20px;
}

.center {
  text-align: center;
  font-size: 26px;
  line-height: 100vh;
}

.full-screen {
  line-height: 100vh;
  font-size: 26px;
}

.sticker {
  background-color: #222222;
  line-height: 30px;
  transform: rotate(45deg);
  position: absolute;
  top: 19px;
  right: -30px;
  width: 130px;
  text-align: center;
}

.sticker a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
